{% comment %}
	{%- render 'c-item-card',
		item: productDrop | variantDrop ,
		item_variant_title: string,
		class: string
	-%}
{% endcomment %}

{%- if item != blank -%}
	{%- liquid
		if item.variants
			assign item_product = item
			assign item_variant = false
			assign thumb = item.featured_image
			assign url = item.url | within: collection

		else
			assign item_product = item.product
			assign item_variant = item
			if item.image != null
				assign thumb = item.image
			else
				assign thumb = item_product.featured_image
			endif
			assign url = item.url
		endif
	-%}

	<div class="c-item-card js-item-card{% if class %} {{ class }}{% endif %}">
		<div class="c-item-card__thumbnail bg-subtle">
			{%- render 'c-item-card-images', product: item_product -%}

			<a
				class="c-item-card__url p-fill"
				href="{{- url -}}"
				title="{{- item_product.title | escape -}}"
			></a>
		</div>


		<div class="c-item-card__content f-v f-a-s">
			<div class="f-h">
				<div class="c-item-card__content__title t-h-2 t-regular">
					{{- item_product.title -}}
					{%- if item_variant -%}
						{{- item_variant_title | prepend: ' - ' -}}
					{%- endif -%}
				</div>

				{%- render 'c-item-card-swatch', item: item -%}
			</div>

			<div class="c-item-card__content__price">
				{%- render 'c-item-price', item: item, is_show_price_range: true, show_pill: true, classes: 't-h-2' -%}
			</div>
		</div>
	</div>
{%- endif -%}
