{% comment %}
	{%- render 'c-item-card',
		item: productDrop | variantDrop ,
		item_variant_title: string,
		class: string
	-%}
{% endcomment %}

{%- if item != blank -%}
	{%- liquid
		if item.variants
			assign item_product = item
			assign item_variant = false
			assign thumb = item.featured_image
			assign url = item.url | within: collection

		else
			assign item_product = item.product
			assign item_variant = item
			if item.image != null
				assign thumb = item.image
			else
				assign thumb = item_product.featured_image
			endif
			assign url = item.url
		endif

		assign is_sold_out = true

		if item_product.available
			assign is_sold_out = false
		endif
	-%}

	<div class="c-item-card js-item-card{% if class %} {{ class }}{% endif %}{% if is_sold_out %} is-sold-out{% endif %}">
		<div class="c-item-card__thumbnail bg-subtle">
			{%- render 'c-item-card-images', product: item_product -%}

			<a
				class="c-item-card__url p-fill"
				href="{{- url -}}"
				title="{{- item_product.title | escape -}}"
			></a>
		</div>

		<div class="c-item-card__content f-h f-w">
			<div class="c-item-card__content__title t-b-2 t-medium">
				{{- item_product.title -}}
				{%- if item_variant -%}
					{{- item_variant_title | prepend: ' - ' -}}
				{%- endif -%}
			</div>

			{%- render 'c-item-card-swatch', item: item -%}

			<div class="c-item-card__content__price t-b-2 t-medium">
				{%- if is_sold_out -%}
					Sold Out
				{%- else -%}
					{%- render 'c-item-price', item: item, is_show_price_range: true, show_pill: true -%}
				{%- endif -%}
			</div>
		</div>
	</div>
{%- endif -%}
