{%- liquid
	assign product_h = product.title | handle
	assign class_block = 'product-hero__gallery__block'
	assign class_block_active = 'product-hero__gallery__block is-active'
-%}

<div class="product-hero__gallery">
	{%- if product.media.size > 0 -%}
		{%- for product_option in product.options_with_values -%}
			{%- liquid
				assign variant_group_name_h = product_option.name | handle
				assign variant_group_values = product_option.values
			-%}

			{%- if variant_group_name_h == 'color'
				or variant_group_name_h == 'colour'
			-%}
				{%- for color in variant_group_values -%}
					{%- liquid
						assign color_h = color | handle
						assign data_attribute = 'data-gallery-target="' | append: color_h | append: '"'
						assign class = class_block
						if current_color_h == color_h
							assign class = class_block_active
						endif
					-%}

					{% capture slider_html %}
						{% for media in product.media %}
							{%- liquid
								if media.alt contains '###'
									assign variant_option = media.alt | split: '###' | last | handle
								else
									assign variant_option = product_h
								endif
							%}

							{%- if color_h == variant_option or variant_option == product_h -%}
								<div
									class="c-slider__slide js-product-media"
									data-alt="{{ media.alt }}"
									data-variant-option="{{ variant_option }}"
								>
									{%- case media.media_type -%}
										{%- when 'image' -%}
											<div class="product-hero__image child-cover bg-subtle">
												{% render 'c-img-srcset',
													image: media,
													alt: product.title %}
											</div>
									{%- endcase -%}
								</div>
							{%- endif -%}
						{%- endfor -%}
					{% endcapture %}

					{%- capture slider_thumbnail_html -%}
						{%- for media in product.media -%}
							{%- liquid
								if media.alt contains '###'
									assign variant_option = media.alt | split: '###' | last | handle
								else
									assign variant_option = product_h
								endif
							%}
							{%- if color_h == variant_option or variant_option == product_h -%}
								<button
									type="button"
									class="c-slider__thumb embla__thumb child-cover js-product-media js-embla-thumbs"
									data-alt="{{ media.alt }}"
									data-variant-option="{{ variant_option }}"
									aria-label="Click to view the media"
								>
									{% if media.media_type == 'image' %}
										{% render 'c-img-srcset',
											image: media,
											class: 'c-slider__thumbs__slide__img'
											alt: product.title %}
									{% endif %}
								</button>
							{%- endif -%}
						{% endfor %}
					{% endcapture %}


					{%- render 'c-slider',
						slider_html: slider_html,
						slider_thumbnail_html: slider_thumbnail_html,
						slider_options: "{'loop': false, 'align': 'start', 'watchDrag': true, 'breakpoints': {'(max-width: 1024px)': {'axis': 'x', 'loop': true, 'align': 'center', 'inViewThreshold': 1 }}}",
						enable_dots: true,
						enable_wheel: true,
						enable_autoheight: true,
						is_vertical: true,
						data_attribute: data_attribute,
						classes: class,
						classes_thumb: 'tablet-up-only',
					-%}
				{%- endfor -%}
			{%- endif -%}

			{% comment %} product has no color option,  e.g., gift card {% endcomment %}
			{% if product.options_by_name.color == null %}
				{% capture slider_html %}
					{%- for media in product.media offset: offset_value -%}
						<div
							class="embla__slide js-product-media"
							data-alt="{{ media.alt }}"
							data-variant-option="{{ variant_option }}"
						>
							{%- case media.media_type -%}
								{%- when 'image' -%}
									<div class="product-hero__image child-cover bg-subtle">
										{% render 'c-img-srcset',
											image: media,
											max_width: 2400,
											alt: product.title %}
									</div>
							{%- endcase -%}
						</div>
					{%- endfor -%}
				{% endcapture %}

				{% capture slider_thumbnail_html %}
					{% for media in product.media %}
						<button
							type="button"
							class="c-slider__thumb embla__thumb child-cover js-product-media js-embla-thumbs"
							data-alt="{{ media.alt }}"
							data-variant-option="{{ variant_option }}"
							aria-label="Click to view the media"
						>
							{% if media.media_type == 'image' %}
								{% render 'c-img-srcset',
									image: media,
									class: 'c-slider__thumbs__slide__img'
									alt: product.title %}
							{% endif %}
						</button>
					{% endfor %}
				{% endcapture %}

				{% render 'c-slider',
					slider_html: slider_html,
					slider_thumbnail_html: slider_thumbnail_html,
					slider_options: "{'loop': false, 'align': 'start', 'watchDrag': true, 'breakpoints': {'(max-width: 1024px)': {'axis': 'x', 'loop': true, 'align': 'center', 'inViewThreshold': 1 }}}",
					enable_dots: true,
					classes: class_block_active,
					classes_thumb: 'tablet-up-only',
					data_attribute: data_attribute,
					is_vertical: true,
				%}
			{% endif %}
		{%- endfor -%}
	{%- endif -%}
</div>
