{% schema %}
{
	"name": "Footer",
	"tag": "footer",
	"class": "g-footer p-x-max",
	"settings": [
		{
			"type": "link_list",
			"id": "menu",
			"label": "Menu"
		},
		{
			"type": "link_list",
			"id": "menu_social",
			"label": "Social Menu"
		},
		{
			"type": "header",
			"content": "Email Capture"
		},
		{
			"type": "textarea",
			"id": "email_capture_heading",
			"label": "Email Capture Heading",
		},
		{
			"type": "textarea",
			"id": "email_capture_notice",
			"label": "Email Capture Notice",
			"default": "Receive exclusive information regarding C2H4®."
		},
		{
			"type": "textarea",
			"id": "email_capture_success_message",
			"label": "Email Capture Success Message",
			"default": "Success! Thank you for signing up."
		},
		{
			"type": "text",
			"id": "copyright_text",
			"label": "Copyright Text"
		}
	]
}
{% endschema %}

{% liquid
	assign menu = linklists[section.settings.menu]
	assign menu_social = linklists[section.settings.menu_social]
%}

<div class="g-footer__inner f-h f-w f-a-c">
	{%- if menu.links != blank -%}
		<nav class="g-footer__nav">
			<ul class="g-footer__linklist">
				{%- for link in menu.links -%}
					<li class="g-footer__linklist__item t-l-2{% if link.active == true %} is-active{% endif %}">
						<a href="{{- link.url -}}" class="btn-underline">{{- link.title -}}</a>
					</li>
				{%- endfor -%}
			</ul>
		</nav>
	{%- endif -%}

	<div class="g-footer__contact f-h f-a-c">
		<div class="g-footer__form">
			{%- if section.settings.email_capture_heading != blank -%}
				<p class="g-footer__form__title t-l-2">{{ section.settings.email_capture_heading }}</p>
			{%- endif -%}

			<div class="g-footer__container">
				{%- render 'c-email-capture-mailchimp', success_message: section.settings.email_capture_success_message -%}
				{%- if section.settings.email_capture_notice != blank -%}
					<p class="g-footer__form__info t-b-3">{{ section.settings.email_capture_notice }}</p>
				{%- endif -%}
			</div>
		</div>
	</div>

	{% if menu_social != blank %}
		<nav class="g-footer__social">
			<ul class="g-footer__social__linklist f-h f-j-s f-a-c">
				{%- for link in menu_social.links -%}
					<li class="g-footer__social__linklist__item">
						<a
							href="{{- link.url -}}"
							aria-label="Link to {{- link.title -}}"
						>
							{% assign icon = link.title | downcase %}
							{% render 'svg-icons', icon: icon %}
						</a>
					</li>
				{%- endfor -%}
			</ul>
		</nav>
	{% endif %}

	<div class="g-footer__copyright">
		<p class="g-footer__copyright__text t-b-3">
			© {{ 'now' | date: '%Y' }}
			{{
				section.settings.copyright_text
				| default: 'Chemist Creations'
			}}
		</p>
	</div>
</div>