{% schema %}
{
	"name": "Header",
	"tag": "header",
	"class": "g-header f-h f-a-c p-x-max bg-pale",
	"settings": [
		{
			"type": "link_list",
			"id": "menu",
			"label": "Menu"
		}
	],
	"max_blocks": 20,
	"blocks": [
		{
			"type": "megamenu",
			"name": "Mega Menu",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Megamenu Title",
					"info": "Match the title of the menu item"
				},
				{
					"type": "link_list",
					"id": "menu",
					"label": "Menu"
				},
				{
					"type": "link_list",
					"id": "menu_2",
					"label": "Menu 2"
				},
				{
					"type": "header",
					"content": "Image Block 1"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "text",
					"id": "label",
					"label": "CTA Label",
				},
				{
					"type": "url",
					"id": "url",
					"label": "CTA Url",
				},
				{
					"type": "header",
					"content": "Image Block 2"
				},
				{
					"type": "image_picker",
					"id": "image_2",
					"label": "Image"
				},
				{
					"type": "text",
					"id": "label_2",
					"label": "CTA Label 2",
				},
				{
					"type": "url",
					"id": "url_2",
					"label": "CTA Url 2",
				},
			]
		}
	]
}
{% endschema %}


{%- liquid
	assign main_menu = linklists[section.settings.menu]
	assign blocks = section.blocks
-%}

{%- if main_menu.links != blank -%}
	<nav class="g-header__nav">
		<ul class="g-header__links f-h f-a-c">
			{%- for link in main_menu.links -%}
				{%- if link.links.size > 0 -%}
					<li class="g-header__links__item{% if link.active == true %} is-active{% endif %}">
						<button
							type="button"
							data-menu-trigger="{{ link.title | handle }}"
							class="btn-underline t-uppercase"
						>{{- link.title -}}</button>
					</li>
				{%- else -%}
					<li class="g-header__links__item{% if link.active == true %} is-active{% endif %}">
						<a
							href="{{- link.url -}}"
							class="btn-underline t-uppercase">{{- link.title -}}</a>
					</li>
				{%- endif -%}
			{%- endfor -%}
		</ul>
	</nav>
{%- endif -%}

{%- if main_menu.links != blank -%}
	{%- for link in main_menu.links -%}
		{%- assign link_title_h = link.title | handle -%}
		{%- if link.links.size > 0 -%}
			<div class="g-header__megamenu p-x-max bg-pale" data-menu-target="{{ link.title | handle }}">
				<div class="g-header__megamenu__inner f-h">
					<div class="g-header__megamenu__columns f-h f-j-s">
						<ul class="g-header__megamenu__column">
							{%- for childlink in link.links -%}
								<li class="g-header__megamenu__item">
									<a href="{{- childlink.url -}}" class="btn-underline is-body">{{- childlink.title -}}</a>
								</li>
							{%- endfor -%}
						</ul>

						{%- if blocks.size > 0 -%}
							{%- for block in blocks -%}
								{%- liquid
									assign title = block.settings.title | handle
									assign menu = linklists[block.settings.menu]
									assign menu_2 = linklists[block.settings.menu_2]
									assign image = block.settings.image
									assign label = block.settings.label
									assign url = block.settings.url
									assign image_2 = block.settings.image_2
									assign label_2 = block.settings.label_2
									assign url_2 = block.settings.url_2
								-%}

								{%- if title == link_title_h -%}
									{%- if menu.links.size > 0 -%}
										<ul class="g-header__megamenu__column">
											<li class="g-header__megamenu__item t-b-3"><strong><em>{{ menu.title }}</em></strong></li>
											{%- for link in menu.links -%}
												<li class="g-header__megamenu__item{% if link.active == true %} is-active{% endif %}">
													<a href="{{- link.url -}}" class="btn-underline is-body">{{- link.title -}}</a>
												</li>
											{%- endfor -%}
										</ul>
									{%- endif -%}

									{%- if menu_2.links.size > 0 -%}
										<ul class="g-header__megamenu__column">
											<li class="g-header__megamenu__item t-b-3"><strong><em>{{ menu_2.title }}</em></strong></li>
											{%- for link in menu_2.links -%}
												<li class="g-header__megamenu__item{% if link.active == true %} is-active{% endif %}">
													<a href="{{- link.url -}}" class="btn-underline is-body">{{- link.title -}}</a>
												</li>
											{%- endfor -%}
										</ul>
									{% endif %}
									{%- break -%}
								{%- endif -%}
							{%- endfor -%}
						{%- endif -%}
					</div>

					{%- if blocks.size > 0 -%}
						{%- for block in blocks -%}
							{%- liquid
								assign title = block.settings.title | handle
								assign image = block.settings.image
								assign label = block.settings.label
								assign url = block.settings.url
								assign image_2 = block.settings.image_2
								assign label_2 = block.settings.label_2
								assign url_2 = block.settings.url_2
							-%}
							{%- if title == link_title_h -%}
								{%- if image != null or image_2 != null -%}
									<div class="g-header__megamenu__blocks f-h f-j-s">
										{%- if image != null -%}
											<div class="g-header__megamenu__block">
												<div class="g-header__megamenu__image child-cover bg-subtle">
													{%- render 'c-img-srcset',
														image: image,
														alt: image.alt
													-%}
												</div>
												{%- if label != blank -%}
													<p>{{ label }}</p>
												{%- endif -%}

												{%- if url != blank -%}
													<a href="{{ url }}" class="p-fill"><span class="screen-reader-only">Link to shop {{ label }} collection</span></a>
												{%- endif -%}
											</div>
										{%- endif -%}

										{%- if image_2 != null -%}
											<div class="g-header__megamenu__block">
												<div class="g-header__megamenu__image child-cover bg-subtle">
													{%- render 'c-img-srcset',
														image: image_2,
														alt: image_2.alt
													-%}
												</div>
												{%- if label_2 != blank -%}
													<p>{{ label_2 }}</p>
												{%- endif -%}

												{%- if url_2 != blank -%}
													<a href="{{ url_2 }}" class="p-fill"><span class="screen-reader-only">Link to shop {{ label_2 }} collection</span></a>
												{%- endif -%}
											</div>
										{%- endif -%}
									</div>
								{% endif %}
								{%- break -%}
							{%- endif -%}
						{%- endfor -%}
					{%- endif -%}
				</div>
			</div>
		{%- endif -%}
	{%- endfor -%}
{%- endif -%}

<a
	class="g-header__logo"
	href="{{ shop.url }}"
	aria-label="{{- shop.name | escape -}} logo"
>
	{%- render 'svg-logo' -%}
</a>

<div class="g-header__actions f-h f-a-c">
	<button
		type="button"
		aria-label="Toggle search panel"
		class="js-search-trigger">
		{%- render 'svg-icons', icon: 'search' -%}
	</button>

	<button
		type="button"
		aria-label="Toggle minicart"
		class="js-minicart-toggle"
	>
		{%- render 'svg-icons', icon: 'cart' -%}
		{% comment %} <span class="js-cart-item-count">{{- cart.item_count -}}</span> {% endcomment %}
	</button>

	{%- if shop.customer_accounts_enabled -%}
		<a href="{{- routes.account_url -}}">{%- render 'svg-icons', icon: 'account' -%}</a>
	{%- endif -%}
</div>
