{% schema %}
{
	"name": "Header",
	"tag": "header",
	"class": "g-header f-h f-a-c p-x-max bg-pale",
	"settings": [
		{
			"type": "link_list",
			"id": "menu",
			"label": "Menu"
		}
	],
	"max_blocks": 20,
	"blocks": [
		{
			"type": "megamenu",
			"name": "Mega Menu",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Megamenu Title",
					"info": "Match the title of the menu item"
				},
				{
					"type": "link_list",
					"id": "menu",
					"label": "Menu"
				},
				{
					"type": "link_list",
					"id": "menu_2",
					"label": "Menu 2"
				},
			]
		},
		{
			"type": "image",
			"name": "Images",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"info": "Match the title of the menu item"
				},
				{
					"type": "image_picker",
					"id": "image_1",
					"label": "Image"
				},
				{
					"type": "image_picker",
					"id": "image_2",
					"label": "Image"
				},
			]
		}
	]
}
{% endschema %}


{%- liquid
	assign main_menu = linklists[section.settings.menu]
	assign blocks = section.blocks
-%}

{%- if main_menu.links != blank -%}
	<nav class="g-header__nav tablet-up-only">
		<ul class="g-header__links f-h f-a-c">
			{%- for link in main_menu.links -%}
				{%- if link.links.size > 0 -%}
					<li class="g-header__links__item{% if link.active == true %} is-active{% endif %}">
						<button
							type="button"
							data-menu-trigger="{{ link.title | handle }}"
							class="btn-underline t-uppercase"
						>{{- link.title -}}</button>
					</li>
				{%- else -%}
					<li class="g-header__links__item{% if link.active == true %} is-active{% endif %}">
						<a
							href="{{- link.url -}}"
							class="btn-underline t-uppercase">{{- link.title -}}</a>
					</li>
				{%- endif -%}
			{%- endfor -%}
		</ul>
	</nav>

	<button
		type="button"
		aria-label="Toggle mobile menu"
		class="g-header__mobile__trigger js-mobile-menu-toggle tablet-down-only"
	>
		<span />
	</button>
{%- endif -%}

{%- if main_menu.links != blank -%}
	{%- for link in main_menu.links -%}
		{%- assign link_title_h = link.title | handle -%}
		{%- if link.links.size > 0 -%}
			<div class="g-header__megamenu p-x-max bg-pale" data-menu-target="{{ link.title | handle }}">
				<div class="g-header__megamenu__inner f-h">
					<div class="g-header__megamenu__columns f-h f-j-s">
						<ul class="g-header__megamenu__column is-main">
							{%- for childlink in link.links -%}
								<li class="g-header__megamenu__item">
									<a href="{{- childlink.url -}}" class="btn-underline is-body" data-images-trigger="{{ childlink.title | handle }}">{{- childlink.title -}}</a>
								</li>
							{%- endfor -%}
						</ul>

						{%- if blocks.size > 0 -%}
							{%- for block in blocks -%}
								{%- if block.type == 'megamenu' -%}
									{%- liquid
										assign title = block.settings.title | handle
										assign menu = linklists[block.settings.menu]
										assign menu_2 = linklists[block.settings.menu_2]
									-%}

									{%- if title == link_title_h -%}
										{%- if menu.links.size > 0 -%}
											<ul class="g-header__megamenu__column">
												<li class="g-header__megamenu__item t-b-3"><strong><em>{{ menu.title }}</em></strong></li>
												{%- for link in menu.links -%}
													<li class="g-header__megamenu__item{% if link.active == true %} is-active{% endif %}">
														<a href="{{- link.url -}}" class="btn-underline is-body" data-images-trigger="{{ link.title | handle }}">{{- link.title -}}</a>
													</li>
												{%- endfor -%}
											</ul>
										{%- endif -%}

										{%- if menu_2.links.size > 0 -%}
											<ul class="g-header__megamenu__column">
												<li class="g-header__megamenu__item t-b-3"><strong><em>{{ menu_2.title }}</em></strong></li>
												{%- for link in menu_2.links -%}
													<li class="g-header__megamenu__item{% if link.active == true %} is-active{% endif %}">
														<a href="{{- link.url -}}" class="btn-underline is-body" data-images-trigger="{{ link.title | handle }}">{{- link.title -}}</a>
													</li>
												{%- endfor -%}
											</ul>
										{% endif %}
										{%- break -%}
									{%- endif -%}
								{%- endif -%}
							{%- endfor -%}
						{%- endif -%}
					</div>

					{%- if blocks.size > 0 -%}
						<div class="g-header__megamenu__images">
							{%- for block in blocks -%}
							{%- if block.type == 'image' -%}
								{%- liquid
									assign title = block.settings.title | handle
									assign image_1 = block.settings.image_1
									assign image_2 = block.settings.image_2
								-%}

								{%- if image_1 != null or image_2 != null -%}
									<div class="g-header__megamenu__blocks f-h f-j-s" data-images-target="{{ title }}">
										{%- if image_1 != null -%}
											<div class="g-header__megamenu__image child-cover bg-subtle">
												{%- render 'c-img-srcset',
													image: image_1,
													alt: image_1.alt
												-%}
											</div>
										{%- endif -%}

										{%- if image_2 != null -%}
											<div class="g-header__megamenu__image child-cover bg-subtle">
												{%- render 'c-img-srcset',
													image: image_2,
													alt: image_2.alt
												-%}
											</div>
										{%- endif -%}
									</div>
								{% endif %}
							{%- endif -%}
							{%- endfor -%}
						</div>
					{%- endif -%}
				</div>
			</div>
		{%- endif -%}
	{%- endfor -%}
{%- endif -%}

<a
	class="g-header__logo"
	href="{{ shop.url }}"
	aria-label="{{- shop.name | escape -}} logo"
>
	{%- render 'svg-logo' -%}
</a>

<div class="g-header__actions f-h f-a-c">
	<button
		type="button"
		aria-label="Toggle search panel"
		class="js-search-trigger">
		{%- render 'svg-icons', icon: 'search' -%}
	</button>

	{%- if shop.customer_accounts_enabled -%}
		<a href="{{- routes.account_url -}}">{%- render 'svg-icons', icon: 'account' -%}</a>
	{%- endif -%}

	<button
		type="button"
		aria-label="Toggle minicart"
		class="g-header__cart js-minicart-toggle"
	>
		{%- render 'svg-icons', icon: 'cart' -%}
	</button>
</div>

<div class="g-header__mobile__menu bg-pale tablet-down-only">
	{%- if main_menu.links != blank -%}
		<div class="g-header__mobile__list">
			{%- for link in main_menu.links -%}
				{%- if link.links.size > 0 -%}
					<c-accordion class="g-header__mobile__accordion c-accordion is-close-siblings">
						<button
							class="c-accordion__toggle f-h f-j-s f-a-c t-l-1 user-select-disable js-accordion-toggle"
							aria-expanded="false"
							aria-label="Toggle accordion"
						>
							<div class="c-accordion__title">{{- link.title -}}</div>
							<div class="icon-plus"></div>
						</button>

						<div class="c-accordion__content js-accordion-content" aria-hidden="true">
							<div class="c-accordion__content-interior">
								{%- assign link_title_h = link.title | handle -%}
								{%- if link.links.size > 0 -%}
									<ul class="g-header__mobile__column is-main">
										{%- for childlink in link.links -%}
											<li class="g-header__mobile__item">
												<a href="{{- childlink.url -}}" class="btn-underline is-body" data-images-trigger="{{ childlink.title | handle }}">{{- childlink.title -}}</a>
											</li>
										{%- endfor -%}
									</ul>

									{%- if blocks.size > 0 -%}
										{%- for block in blocks -%}
											{%- if block.type == 'megamenu' -%}
												{%- liquid
													assign title = block.settings.title | handle
													assign menu = linklists[block.settings.menu]
													assign menu_2 = linklists[block.settings.menu_2]
												-%}

												{%- if title == link_title_h -%}
													{%- if menu.links.size > 0 -%}
														<ul class="g-header__mobile__column">
															<li class="g-header__mobile__item t-b-3"><strong><em>{{ menu.title }}</em></strong></li>
															{%- for link in menu.links -%}
																<li class="g-header__mobile__item{% if link.active == true %} is-active{% endif %}">
																	<a href="{{- link.url -}}" class="btn-underline is-body" data-images-trigger="{{ link.title | handle }}">{{- link.title -}}</a>
																</li>
															{%- endfor -%}
														</ul>
													{%- endif -%}

													{%- if menu_2.links.size > 0 -%}
														<ul class="g-header__mobile__column">
															<li class="g-header__mobile__item t-b-3"><strong><em>{{ menu_2.title }}</em></strong></li>
															{%- for link in menu_2.links -%}
																<li class="g-header__mobile__item{% if link.active == true %} is-active{% endif %}">
																	<a href="{{- link.url -}}" class="btn-underline is-body" data-images-trigger="{{ link.title | handle }}">{{- link.title -}}</a>
																</li>
															{%- endfor -%}
														</ul>
													{% endif %}
													{%- break -%}
												{%- endif -%}
											{%- endif -%}
										{%- endfor -%}
									{%- endif -%}
								{%- endif -%}
							</div>
						</div>
					</c-accordion>
				{%- else -%}
					<div class="g-header__mobile__link t-l-1 {% if link.active == true %} is-active{% endif %}">
						<a href="{{- link.url -}}">{{- link.title -}}</a>
					</div>
				{%- endif -%}
			{%- endfor -%}
		</div>
	{%- endif -%}
</div>