<section class="article-content">
	<div class="article-content__hero f-h">
		<div class="article-content__hero__content f-v">
			<h1 class="article-content__hero__title t-h-2 t-uppercase">{{- article.title -}}</h1>

			{%- if article.content.size > 800  -%}
				<div class="truncate-container">
					<div class="article-content__wysiwyg wysiwyg wysiwyg-page" id="truncated-product-description">
						{{ article.content | truncate: 1200 }}
						<button type="button" id="read-more" class="article-content__toggle t-b-2">more +</button>
					</div>
					<div class="article-content__wysiwyg wysiwyg wysiwyg-page" id="product-description">
						{{ article.content }}
						<button type="button" id="read-less" class="article-content__toggle t-b-2">less -</button>
					</div>
				</div>
			{%- elsif article.content != blank -%}
				<div class="article-content__wysiwyg wysiwyg wysiwyg-page">
					{{ article.content }}
				</div>
			{%- endif -%}
		</div>

		{%- if article.image -%}
			<div class="article-content__hero__image child-cover">
				{%- render 'c-img-srcset',
					image: article.image,
					alt: article.image.alt
				-%}
			</div>
		{%- endif -%}
	</div>
</section>


{%- liquid
	assign galleries = article.metafields.custom.gallery_images.value
-%}

{%- if galleries.count > 0 -%}
	{%- for gallery in galleries -%}
		<section class="article-gallery p-x-max js-lightbox-trigger-parent">
			{%- liquid
				assign label = gallery.label
				assign images = gallery.images.value
			-%}

			<h2 class="article-gallery__title t-h-3 t-bold">{{ label }}</h2>
			<div class="article-gallery__blocks g g-4">
				{%- for i in images -%}
					<button type="button" class="s-collection-slider__block js-lightbox-trigger">
						{%- render 'c-img-srcset',
							image: i,
							alt: i.alt
						-%}
					</button>
				{%- endfor -%}
			</div>
		</section>
	{%- endfor -%}
{%- endif -%}
